@-webkit-keyframes eager-lead-box-bounce-in-up {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1);
    animation-timing-function: cubic-bezier(.215, .610, .355, 1);
  }

  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0)
  }

  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0)
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes eager-lead-box-bounce-in-up {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1);
    animation-timing-function: cubic-bezier(.215, .610, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0)
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes eager-lead-box-bounce-out-down {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
  }
}

@keyframes eager-lead-box-bounce-out-down {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
  }
}

.eager-lead-box {
  color: #000 !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.eager-lead-box * {
  color: inherit !important
}

.eager-lead-box:before, .eager-lead-box:after, .eager-lead-box *, .eager-lead-box *:before, .eager-lead-box *:after {
  display: block !important;
  box-sizing: inherit !important
}

.eager-lead-box, .eager-lead-box * {
  font-family: inherit !important;
  font-size: inherit !important;
  text-decoration: none !important;
  border: 0 !important;
  outline: none !important;
  margin: 0 !important;
  padding: 0 !important
}

.eager-lead-box {
  position: fixed;
  z-index: 8000;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  width: 25em;
  max-width: 100%;
  padding: 1.5em 1.5em 6.5em 1.5em !important;
  margin-bottom: -5em !important;
  background: #fff !important;
  border-radius: .3125em 0 0 0;
  box-shadow: 0 0 .0625em rgba(0, 0, 0, .5);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0)
}

  @media (max-width: 30em) {
    .eager-lead-box {
      width: 100%;
      border-radius: 0
    }
  }

  @media (max-width: 15em) {
    .eager-lead-box {
      display: none
    }
  }

  .eager-lead-box.eager-lead-box-show {
    -webkit-animation: eager-lead-box-bounce-in-up 1s ease forwards;
    animation: eager-lead-box-bounce-in-up 1s ease forwards
  }

  .eager-lead-box.eager-lead-box-hide {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: eager-lead-box-bounce-out-down 1s ease forwards;
    animation: eager-lead-box-bounce-out-down 1s ease forwards
  }

  .eager-lead-box-close-button {
    cursor: pointer;
    position: absolute;
    z-index: 8005;
    top: 0;
    right: 0;
    padding: 1.25em 1.25em .75em 1.25em !important
  }

  .eager-lead-box-close-button:before {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    content: "\00D7";
    display: block !important;
    font-size: 2em !important;
    line-height: .8em;
    height: 1em;
    width: 1em;
    text-align: center;
    color: rgba(0, 0, 0, .2) !important;
    font-weight: 300;
    pointer-events: none
  }

  .eager-lead-box-close-button:hover:before {
    color: rgba(0, 0, 0, .7) !important
  }

  .eager-lead-box-content {
    margin-bottom: 1em !important
  }

    .eager-lead-box-header {
      font-size: 1.3em !important;
      font-weight: bold;
      opacity: .7;
      margin-bottom: .9em !important;
      margin-right: 2em !important;
      line-height: 1em !important
    }

    .eager-lead-box-body {
      opacity: .7;
      font-size: .9em !important;
      line-height: 1.3em;
      margin-bottom: 1em !important;
      margin-right: 2.5em !important
    }

    .eager-lead-box-field {
      margin-bottom: 1em !important
    }

    input.eager-lead-box-input {
      appearance: none;
      font-family: inherit !important;
      width: 100% !important;
      -webkit-tap-highlight-color: transparent;
      text-rendering: optimizeLegibility;
      background: #fff !important;
      color: rgba(0, 0, 0, .8) !important;
      border: 1px solid rgba(0, 0, 0, .14) !important;
      border-top-color: rgba(0, 0, 0, .22) !important;
      padding: .6em .8em !important;
      height: auto !important;
      box-shadow: none !important;
      line-height: initial !important;
      border-radius: .1875em
    }

    input.eager-lead-box-input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, .3) !important;
      font-family: inherit;
      font-size: 1em
    }

    input.eager-lead-box-input:-moz-placeholder {
      color: rgba(0, 0, 0, .3) !important;
      font-family: inherit;
      font-size: 1em
    }

    input.eager-lead-box-input::-moz-placeholder {
      color: rgba(0, 0, 0, .3) !important;
      font-family: inherit;
      font-size: 1em
    }

    input.eager-lead-box-input:-ms-input-placeholder {
      color: rgba(0, 0, 0, .3) !important;
      font-family: inherit;
      font-size: 1em
    }

    button.eager-lead-box-button {
      position: relative;
      width: 100% !important;
      color: #fff !important;
      padding: .9em !important;
      height: auto !important;
      border-radius: .1875em;
      font-weight: bold;
      cursor: pointer
    }

    button.eager-lead-box-button[disabled] {
      cursor: not-allowed
    }

    button.eager-lead-box-button:not([disabled]):hover {
      opacity: .9
    }

    button.eager-lead-box-button:not([disabled]):hover:active {
      opacity: .7
    }

    button.eager-lead-box-button:not([disabled]):focus:before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      border-radius: .1em;
      box-shadow: inset 0 0 0 1px #fff;
      pointer-events: none;
      transition: opacity .3s ease-in-out
    }

    button.eager-lead-box-button:not([disabled]):focus:active:before {
      opacity: 0
    }

  .eager-lead-box-branding {
    text-align: center;
    font-size: .75em !important
  }

    a.eager-lead-box-branding-link {
      color: inherit !important;
      opacity: .4
    }

      a.eager-lead-box-branding-link:hover {
        opacity: .8
      }
